body{
    background-color: #121212 !important;
    color: #ffffff;
}

/* start nav section */
.nav-icon{
    color: rgba(128, 0, 128, 0.723);
    filter: drop-shadow(0px 0px 10px rgb(254, 0, 254)) !important;
}
.nav-img{
    width: 35px !important;
    height: 35px !important;
    border-radius: 50px;
}
.sign-icon{
    position: relative;
    bottom: 3px;
}
/* end nav section */

/* start header section */
header section div{
    width: 100%;
    height: 50vh;
    background-image: url('images/public/header.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.header-btn{
    height: 35px;
    margin-top: 25vh;
}
.header-h2{
    margin-top: 30vh;
    margin-right: -28vh;
}
.header-p{
    margin-top: 37vh;
    margin-right: -56vh;
}
.header-span{
    margin-top: 43vh;
    margin-right: -78vh;
}
/* end header section */
.all-line{
    height: 1px;
}
/* start first news */
.section-img{
    width: 200px !important;
    height: 200px !important;
    border-radius: 5px;
    position: relative;
    right: 15px;
}
/* end first news */

/* start first news */
.profile-imgs{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.dete-section{
    margin-top: 25px;
    position: relative;
    left: 95px;
}
.time-section{
    position: relative;
    top: 20px;
    left: 80px;
}
/* end first news */
