.searchbar-section{
    width: 30vh !important;
    height: 50px;
    margin-right: 60vh !important;
    border-radius: 40px;
}
.login-icon{
    width: 50px;
    height: 50px ;
    border-radius: 50px;
}
.black-line{
    width: 180vh !important;
    height: 3px !important;
    background: black !important;
    margin-right: 30vh;
    position: relative;
    bottom: 25px !important;
}
.footer-icon{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}